/*==============================
    DeepVision AI Logo
===============================*/

.logo{

display:flex;

align-items:center;

gap:18px;

}

.logo-text h2{

font-size:32px;

font-weight:800;

margin:0;

background:linear-gradient(90deg,#3b82f6,#38bdf8);

-webkit-background-clip:text;

-webkit-text-fill-color:transparent;

}

.logo-text p{

margin-top:4px;

color:#94a3b8;

font-size:14px;

font-weight:500;

letter-spacing:.6px;

}
.logo-icon{

position:relative;

width:70px;

height:70px;

display:flex;

justify-content:center;

align-items:center;

}
.core{

width:18px;

height:18px;

background:#3b82f6;

border-radius:50%;

box-shadow:

0 0 12px #3b82f6,

0 0 25px #38bdf8;

animation:pulse 2s infinite;

}
.node{

position:absolute;

width:10px;

height:10px;

background:#38bdf8;

border-radius:50%;

box-shadow:0 0 10px #38bdf8;

}

.n1{

top:8px;

left:50%;

transform:translateX(-50%);

}

.n2{

bottom:8px;

left:50%;

transform:translateX(-50%);

}

.n3{

left:8px;

top:50%;

transform:translateY(-50%);

}

.n4{

right:8px;

top:50%;

transform:translateY(-50%);

}
@keyframes pulse{

0%{

transform:scale(1);

}

50%{

transform:scale(1.25);

}

100%{

transform:scale(1);

}

}